 # Data Science Tools and Ecosystem

## Santiago Perez

## In this notebook you'll find data science tools and ecosystems summarized

**Objectives**
+ List popular languages for ds
+ Name common libraries for ds
+ Create a table with ds tools
+ Make examples of artgmetic expressions

### Popular languages that data scientists tend to use most

+ Python
+   R
 +  Julia

### The common libraries used by data scientists are:
1. Pandas
2. Numpy
3. Tensorflow
4. Pytorch

|Data Science Tools|
|------------------|
|    Jupyter|
|Tableau|
|Excel|

### Below are some examples of evaluating arithmetic expressions in Python.

In [29]:
 #This arithmetic expression shows a simple multiplication that adds integers 
(3*4)+5

17

In [41]:
 #This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335